venv/
frontend/node_modules/
uploaded_images/
app.log
app.log
app.log
backend/__pycache__/
backend/.env
frontend/.env
frontend/.env.local
.env
backend/onlinesellertools-firebase-adminsdk-1ftew-d70e2eac48.json
app.log
