.ticket-form {
    padding: 4rem 1rem;
    background-color: #fff;
  }
  
  .ticket-form-container {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .form-section,
  .subscribe-section {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 8px;
  }

  .subscribe-section{
    width: 35%;
  }
  
  .form-section{
    width: 50%;
  }

  .form-section{    
    padding: 2rem 2rem 2rem 0rem;
  }

  .form-section h2,
  .subscribe-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .form-section p,
  .subscribe-section p {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 1.5rem;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  .subscribe-section input{
    width:94%;
  }

  .submit-button,
  .subscribe-button {
    background-color: #4a6cf7;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
  }

  .submit-button{
    margin-left:0;
  }

  .subscribe-button{
    width: 99.5%;
    margin: 0;
  }
  
  .submit-button:hover,
  .subscribe-button:hover {
    background-color: #3151d3;
  }
  
  .fields-group{    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
  }

  .fields-group .form-group{
    width:100%;
  }

  .form-group textarea {
    height:6rem;
  }